{{ header }}
<div class="container" id="content">
    <h1>{{ heading_title }}</h1>
    {% for name, library in libraries %}
    <h4>{{ name }}</h4>
    <div>
        <pre><code class="lang-php">{{ library }}</code></pre>
    </div>
    {% endfor %}
</div>
{{ footer }}