{{ header }}
<div class="container my-5">
    <h1>{{ heading_title }}</h1>
    {% for name, library in libraries %}
    <h4>{{ name }}</h4>
    <div class="mb-4">
        <pre><code class="lang-php">{{ library }}</code></pre>
    </div>
    {% endfor %}
</div>
{{ footer }}